.video-wrapper {
  position: relative;
  margin-bottom: 3rem;
  border-radius: var(--borderRadius);
  padding-top: 56.25%;
  background-color: var(--neutral-2);
  box-shadow: var(--boxShadow);
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  display: block;
  border-radius: 20px;
}
