.player-principal {
  background-color: var(--neutral-2);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  padding: 20px;
}

.side-content-column {
  background-color: var(--neutral-1);
  border-radius: var(--borderRadius);
  overflow: auto;

  height: 100%;
  display: flex;
  box-shadow: var(--boxShadow);
  flex-direction: column;
}
.painel-container {
  height: 90vh;
}

.historico {
  height: 30%;
  margin-bottom: 10px;
  overflow: hidden;
}

#botaoSimular {
  cursor: pointer;
  bottom: 0;
  background-color: var(--secondary);
  opacity: 0.3;
  &:hover {
    transition: 0.3s;
    opacity: 1;
  }
}
