<div class="painel-container px-7 py-7 flex h-screen relative">
  <app-player
    class="transition-all duration-800 ease-in-out absolute transform z-10"
    [ngClass]="{
      'w-[69%] h-[80%] top-[10%] left-[2.5%] scale-100': !emChamada,
      'w-[20%] h-[30%] bottom-10 right-7 scale-100': emChamada
    }"
  ></app-player>

  <div class="card w-9/12 relative overflow-hidden h-full">
    <app-chamada
      class="transition-all duration-800 ease-in-out absolute top-0 left-0 w-full h-full transform"
      [dadosChamada]="chamadaAtual"
      [ngClass]="{
        'opacity-0 scale-95 invisible': !emChamada,
        'opacity-100 scale-100 visible': emChamada
      }"
    ></app-chamada>
  </div>

  <div class="side-content-column ml-5 w-3/12 px-5 py-2">
    <div class="header flex justify-between w-full">
      <h1 class="font-bold text-lg mb-2">CHAMADAS</h1>
      <span class="material-icons w-[25px] ml-auto">volume_up</span>
      <span class="material-icons w-[25px] ml-2">crop_free</span>
    </div>
    <h2 class="font-bold text-lg mb-3" *ngIf="chamadaAtual">SENHA ATUAL</h2>

    <div class="mb-4" *ngIf="chamadaAtual">
      <app-ficha [dadosSenha]="chamadaAtual" [chamadaAtual]="true"></app-ficha>
    </div>

    <h2 class="font-bold text-lg mb-3" *ngIf="historico.length > 0">HISTÓRICO</h2>
    <div class="historico">
      <ng-container *ngIf="historico.length > 0">
        <app-ficha *ngFor="let senha of historico" [dadosSenha]="senha"></app-ficha>
      </ng-container>
    </div>
  </div>
</div>
<button
  type="button"
  id="botaoSimular"
  class="w-9 h-9 text-xs text-white font-medium fixed mb-5 rounded-lg"
  (click)="simularNovaChamada()"
>
  <span class="material-icons">notifications_active</span>
</button>
