<div class="painel-container px-7 pt-7 pt-3 flex h-screen relative">
  <!-- Componente do player. O posicionamento e dimensionamento são controlados dinamicamente com base no estado. 
      Se estiver em estado de chamada (emChamada) -> O vídeo encolhe e vai para canto inferior direito. 
      Caso contrário -> Ocupa a área central esquerda -->
  <app-player
    class="transition-all duration-800 ease-in-out absolute transform z-10 will-change-transform"
    [ngClass]="{
      'w-[69%] h-[80%] top-[5%] left-[3%] scale-100': !emChamada,
      'w-[23%] h-[28%] bottom-[2%] right-[2.5%] bottom-10 scale-100 mini': emChamada
    }"
  ></app-player>

  <!-- Componente da chamada em destaque. A visibilidade é controlada também com base no estado.  
      Se estiver emChamada -> aparece com opacidade e tamanho total.[ngComponentOutlet]=""
      Caso contrário, esmaece e some suavemente. -->
  <div class="card w-9/12 relative overflow-hidden h-full">
    <app-chamada
      class="transition-all duration-800 ease-in-out absolute top-0 left-0 w-full h-full transform"
      [dadosChamada]="chamadaAtual"
      [ngClass]="{
        'opacity-0 scale-95 z-0': !emChamada,
        'opacity-100 scale-100 z-20': emChamada
      }"
    ></app-chamada>
  </div>

  <!-- Coluna lateral direita que mostra a chamada atual e o histórico. 
      Visualmente, abriga o player quando emChamada -->
  <div class="side-column ml-5 w-3/12 px-5 py-4">
    <div class="flex justify-between w-full">
      <h1 class="font-bold text-xl mb-2">CHAMADAS</h1>
      <span class="material-icons w-[25px] ml-auto">volume_up</span>
      <span class="material-icons w-[25px] ml-2">crop_free</span>
    </div>

    @if (!chamadaAtual) {
    <h1 class="text-center mt-[90%] opacity-40">Nenhuma chamada realizada</h1>
    }

    <!-- Título "Senha Atual" exibido apenas se houver uma chamada -->
    @if (chamadaAtual) {
    <h2 class="font-semibold mb-2 opacity-60">SENHA ATUAL</h2>

    <div class="mb-3">
      <app-ficha [dadosSenha]="chamadaAtual" [chamadaAtual]="true"></app-ficha>
    </div>
    }

    <!-- Título do histórico exibido apenas se houver senhas anteriores -->
    @if (historico.length > 0) {
    <h2 class="font-semibold text-md mb-2 opacity-60">HISTÓRICO DE CHAMADAS</h2>

    <div class="historico mb-4 h-[42%]">
      <!-- Itera sobre o array de chamadas anteriores e exibe uma ficha para cada -->
      @for (senha of historico; track senha) {
      <app-ficha [dadosSenha]="senha"></app-ficha>
      }
    </div>
    }
  </div>
</div>

<button
  type="button"
  id="botaoSimular"
  class="w-6 h-6 text-xs font-medium rounded-sm right-2"
  (click)="simularNovaChamada()"
>
  <span class="w-2 h-2 material-icons">notifications</span>
</button>
