.player-principal {
  background-color: var(--neutral-2);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  padding: 20px;
}

.side-content-column {
  background-color: var(--neutral-1);
  border-radius: var(--borderRadius);
  padding: 20px;
  box-shadow: var(--boxShadow);
}
