.senha {
  padding: 10px;
  margin-bottom: 9px;
  height: 60px;
  background-color: var(--neutral2);
  border-left: 4px solid var(--secondary);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    font-weight: bold;
  }

  &.atual {
    background-color: var(--secondary);
    color: #fff;
  }
}
