@use 'tailwindcss';

:root {
  --primary: #0b594b;
  --secondary: #17bfa0;
  --textColor: #374151;
  --textColorLighter: #57677f;
  --neutral-0: #f2f2f2;
  --neutral-1: #f3f4f6;
  --neutral-2: #e5e7eb;
  --neutral-3: #334155;
  --borderRadius: 5px;
  --boxShadow: 0px 0px 9px 0px rgb(120 120 120 / 33%);
}
html {
  width: -webkit-fill-available;
  color: var(--textColorLighter);
  height: 100vh;

  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    background-color: var(--neutral2);
    display: flex;
    flex-direction: column;
  }

  app-root {
    height: 100vh;
  }
}
