@use 'tailwindcss';

:root {
  /* Cores principais */
  --primary: #0a574f;
  --secondary: #13b8a7;
  --chamada-destaque: #324154;

  /* Cores neutras */
  --neutral-0: #f2f2f2;
  --neutral-1: #f3f4f6;
  --neutral-2: #e5e7eb;
  --neutral-3: #374151;

  /* Tipografia & Estilo */
  --textColor: #57677f;
  --borderRadius: 5px;
  --boxShadow: 0px 0px 9px 0px rgba(120, 120, 120, 0.205);
}

html {
  width: -webkit-fill-available;
  color: var(--textColorLighter);
  height: 100vh;

  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    background-color: var(--neutral2);
    display: flex;
    flex-direction: column;
  }

  app-root {
    height: 100vh;
  }
}

app-player.mini {
  .video-wrapper {
    background-color: transparent;
    box-shadow: none;
  }
}

.will-change-transform {
  will-change: transform, opacity;
}
